---
format:
    html:
        embed-resources: true
toc: true
title: Data Cleaning
bibliography: references.bib
author: crg123
date: 3/28/25
---

## Data Source & Description 

**Source:**
The data for this analysis was sourced from the Aid Worker Security Database [@aidworkersecurity].

In [ ]:
import pandas as pd

# Load data
df = pd.read_csv("data/security_incidents.csv")

# Headers to exclude from header standardization
exclude = ["UN", "INGO", "ICRC", "NRCS and IFRC", "NNGO"]

# Modify headers: lowercase and replace spaces with underscores, except for the excluded ones
df.columns = [
    header.lower().replace(" ", "_") if header not in exclude else header
    for header in df.columns
]

df.head()

,incident_id,year,month,day,country_code,country,region,district,city,UN,...,attack_context,location,latitude,longitude,motive,actor_type,actor_name,details,verified,source
0,1,1997,1.0,NaN,KH,Cambodia,Banteay Meanchey,NaN,NaN,0,...,Unknown,Unknown,14.070929,103.099916,Unknown,Unknown,Unknown,1 ICRC national staff killed while working in ...,Archived,Archived
1,2,1997,1.0,NaN,RW,Rwanda,Northern,Musanze,Ruhengeri,0,...,Raid,Office/compound,-1.499840,29.634970,Unknown,Unknown,Unknown,"3 INGO international (Spanish) staff killed, 1...",Archived,Archived
2,3,1997,2.0,NaN,TJ,Tajikistan,NaN,NaN,NaN,4,...,Unknown,Unknown,38.628173,70.815654,NaN,Unknown,Unknown,"3 UN national staff, 1 UN international (Niger...",Archived,Archived
3,4,1997,2.0,NaN,SO,Somalia,Lower Juba,Kismayo,Kismayo,0,...,Unknown,Unknown,-0.358216,42.545087,Political,Non-state armed group: Regional,Al-Itihaad al-Islamiya,1 INGO international staff killed by Al ittiha...,Archived,Archived
4,5,1997,2.0,14.0,RW,Rwanda,Kigali,Kigali,Kigali,1,...,Individual attack,Unknown,-1.950851,30.061508,Political,Unknown,Unknown,1 UN national staff shot and killed in Kigali ...,Archived,Archived